<!DOCTYPE html>
<html>
<head>
  <title>Vedmak internal</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <a href="/"><img src="<%= asset_path 'head2.png' %>" alt="Vedmak internal"></a>
  </header>

  <section id="content">
    <%= yield %>
  </section>

  <% if current_user.present? %>
  <div id="rabbit">
    <a href="/code9.zip"><img src="<%= asset_path 'mail.png' %>" alt="Читать"></a>
  </div>
	<% end %>
</body>
</html>
